<li class="comment-list">
  <p class = 'comment-text'><%= @returncomment.comment %></p>
  <p class='comment-author-date'>
    <span class="comment_by">by</span> <span class="comment_author"><%= @returncomment.username %></span> <time class="comment-time"><%= @returncomment.created_at.strftime('%b %e, %l:%M %p') %></time>
  </p>
</li>
