<div class="page-wrapper">

    <div class="social-media social-login">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>

    <div class="signup_container">
        <h1 class="login_desc"> Walking is good for you... <br>Sign Up. </h1>

        <div class="form loginform">
            <%= render partial: 'form' %>
        </div>

    </div>
</div>
