.map{
  height:300px;
  width: 400px;
}

#multi_markers{
  width: 800px;
  height:400px;
}

#map_walk-index{
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

#map_walk-form{
  width: 50%;
  height: 420px;
  display: inline-block;
}

#map_walk-show{
  height:500px;
  width: 500px;
  border-radius: 50%;
  margin-top: 40px;
  display: inline-block;

}
