
#multi_markers{
  width: 800px;
  height:400px;
}

#map_walk-index{
  width: 100%;
  height: 400px;
  margin: 0 auto;
}


#map_walk-form{
  width: 45%;
  height: 650px;
  display: inline-block;
}

#map_walk-show{
  height:600px;
  width: 600px;
  border-radius: 50%;
  margin-top: 40px;
  display: inline-block;

}
