.map, #map_walk-index{
  height:300px;
  width: 400px;
}

#multi_markers{
  width: 800px;
  height:400px;

}

#map_walk-index{
  width: 90%;
  height: 400px;
  margin: 0 auto;
}

#map_walk-new{
  width: 100%;
}

#map_walk-show{
  margin-top: 50px;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}
