
.homepage{
  height:700px;
  background-color: #F1D01B;
   position: relative;
}

.homepage-big-letter{
  display: inline-block;
  font-size: 500px;
 font-family: freefonts;
 background-image:image-url('bg_image2.jpeg');
background-clip: text;
   color: transparent;
background-position:0 0;
text-transform:uppercase;
text-align:center;
color:transparent;
-webkit-background-clip:text;
-moz-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
margin:0;
}



// .bg-overlay{
//     width: 100%;
//     height: 700px;
//     position: relative;
//
// }
//
// .bg-overlay::before {
//     content:"";
//     display: block;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 1;
//      background-color: red;
//      opacity: 0.8;
//      -webkit-animation:change-bg-colour 20s infinite;
//      -moz-animation:    change-bg-colour 20s infinite;
//      -o-animation:     change-bg-colour 20s infinite;
//      animation:        change-bg-colour 20s infinite;
// }


//
// @keyframes change-bg-colour {
//     0%   {background-color: #f75c4f;}
//     25%  {background-color: #F1D01B;}
//     50%  {background-color: #6DCC7A;}
//     100% {background-color: #F2693E;}
// }

.welcome_msg{
  color: white;
  letter-spacing: 1px;
  margin-left: 7%;
  margin-top: 3%;
}


h1{
  border: solid 5px white;
  display: inline-block;
  padding: 8px;
  font-size: 30px;
}

.slogan{
  font-size: 24px;
  display: block;
  position: relative;
}


.contain-shoeprint{
  position: relative;
  margin-top: 10%;
  transform: rotate(-28deg);
}

.print{
  position: absolute;
}

.search-bar {
  color: white;
  display: block;
}

.search-bar-field{
  height:45px;
  width: 400px;
  font-size: 16px;
  margin-right: 20px;
}

.search-button {
  border: solid 2px white;
  width: 100px;
  padding: 10px;
  color: white;
  font-family: Arial;
  background-color: transparent;
  font-size: 13px;
  letter-spacing: 2px;
}

.fa{
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 27px;
  &:hover{
    color: lightgrey;
  }
}
