.tweets {
  border: 1px solid #f3007a;
  margin: 20px 0 auto;
  height: 100%;
  width: 25%;
  overflow: auto;
  display: inline-block;
  float: right;
}

.index-buttons {
  margin: 0 auto;
  width: 60%;
  padding-top: 10px;
}
