// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-container{
  display: flex;
  justify-content: center;
  background-color: #65ccb8;
  min-height: 100vh;
  padding-top: 100px;
}
.signup_container{
  background-size: cover;
}

.login_desc {
  font-size: 40px;
  width: 45%;
  margin-top: 100px;
  display: inline-block;
}

.loginform{
  background-color: white;
  display: inline-block;
  border: solid  black 2px;
  width: 48%;
  float: right;
  padding: 20px;
  margin-right: 5%;
  margin-top: 100px;
  display: block;
}

.form_label{
  font-family: gotham-light, 'Montserrat';
  font-weight: 400;
  margin: 5px;
  font-size: 16px;
}

.form_field{
  width: 200px;
  line-height: 20px;
}

// .form_set{
//   margin: 10px;
// }

.text_area_field{
  font-size: 12px;
}

.social-login a {
  color: black;
}

.btn_submit{
  background-color: black;
  padding: 7px;
  border-radius: 5px;
  color: white;
  width:60px;
}

.signup_form{
  width: 30%;
  margin-right:20%;
}

.username-show {
  padding-left: 0;
}
