// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup_container{
  height: 100vh;
  background-size: cover;

}

.loginform{
  z-index: 3;
  background-color: white;
  display: inline-block;

}
