// Place all the styles related to the Walks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_title{
  padding: 10px 20px;
  color: white;
  font-size: 35px;
  background-color:#F1D01B;
  letter-spacing: 1px;
}

.category_btn{
  background-color: tomato;
  color: white;
  border: black;
  padding: 6px 10px;
  border-radius: 8px;
  margin: 10px;
}

.search-geolocate {
  display: flex;
}

.walks_container{
  background-color: #f2f2f2;
}

.create_walk_btn{
  margin: 30px auto;
  width: 200px;
  border: solid #F1D01B;
  border-radius: 10px;
  padding: 10px;
  background-color: #F1D01B;

  a{
    font-family: gotham, 'Montserrat';
    font-size: 18px;
    color: white;
  }
}

.walks-list{
  display: flex;
  background-color: transparent;
  flex-wrap: wrap;
}

.walkcard{
  background-size: cover;
  height: 365px;
  border: solid 1px lightgrey;
  width: 32%;
  background-color: white;
  margin: 20px 0.5%;
  position: relative;
  a{
    color: black;
  }
}

.walkcard_name{
  font-family: gotham, 'Montserrat';
  margin-top: 45%;
    font-size: 28px;
    text-align: center;
    color: white;
}

.walkcard_desc {
  padding: 20px;
  padding-top: 30px;
  font-size: 16px;
  font-family: gotham-light, 'Montserrat';
  background-color: white;
  position: absolute;
  bottom: 0;
  right:0;
  left:0;
  height: 120px;
  margin: 0;
  display: none;
}

.js_errors_list{
  color: tomato;
}

select{
  width:200px;
  border: solid black 2px;
  height: 30px;
  background-color: white;
  letter-spacing: 1px;
  margin: 0 15px;
}
