// Place all the styles related to the Walks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_title{
  color: white;
  font-size: 35px;
  background-color:#F1D01B;
}

.walks_container{
  background-color: #f2f2f2;
}

.create_walk_btn{
  margin: 30px auto;
  width: 200px;
  border: solid #F1D01B;
  border-radius: 10px;
  padding: 10px;
  background-color: #F1D01B;

  a{
    font-family: gotham, 'Montserrat';
    font-size: 18px;
    color: white;
  }
}

.walks-list{
  display: flex;
  background-color: transparent;
  flex-wrap: wrap;
}

.walkcard{
  background-size: cover;
  height: 365px;
  border: solid 1px lightgrey;
  width: 32%;
  background-color: white;
  margin: 20px 0.5%;
  position: relative;
  a{
    color: black;
  }
}

.walkcard_name{
  font-family: gotham, 'Montserrat';
  margin-top: 45%;
    font-size: 28px;
    text-align: center;
    color: white;


}

.walkcard_location {
  font-size: 14px;
  font-family: gotham, 'Montserrat';
  color: white;
  text-align: center;
}

.walkcard_desc {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-family: gotham-light, 'Montserrat';
  font-weight: 400;
  background-color: white;
  position: absolute;
  bottom: 0;
  right:0;
  left:0;
  height: 120px;
  display: none;
  margin: 0;
}

.js_errors_list{
  color: tomato;
}

.like-walk-index {
  position: relative;
  float: right;
  font-family: arial;
  display: inline-block;
  border: solid 2px tomato;
  padding: 6px;
  background-color: transparent;
  margin-left: 15px;
  font-size: 8px;
  font-weight: bold;
  color: tomato;
}

.unlike-walk-index{
  position: relative;
  float: right;
  font-family: arial;
  display: inline-block;
  border: solid 2px red;
  padding: 6px;
  background-color: transparent;
  margin-left: 15px;
  font-size: 8px;
  font-weight: bold;
  color: tomato;
}

form#new_bookmarked_walk{
  position: relative;
  float: right;
}
