fieldset {
  border: none;
}

.nested-fields {
  cursor: move;
}

.create_walk_container{
  background-color: #65ccb8;
  padding-bottom: 100px;
}

.create_walk_title{
  color: white;
  font-size: 45px;
}

.form-list{
  border: solid #565a5c 1px;
  padding: 10px;
  font-family: gotham;
  width: 50%;
  min-height: 400px;
  background-color: white;
  float: left;
  margin: 0 2%;
}

.form_label_create_walk{
  font-family: gotham-light;
  font-size: 12px;
}

.form_field_create_walk{
  width:70%;
  height: 30px;
}

#error_explanation {
  color: tomato;
}

.create_step_one_title,.create_step_two_title{
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 2px;
}

#centerbutton, .plot_walk_btn {
  border: solid 2px black;
  padding: 6px;
  background-color: transparent;
  margin-left: 15px;
  font-size: 8px;
  font-weight: bold;
}

.plot_walk_btn{
  font-size: 15px;
}

.required{
  color: tomato;
}

.step_btn{
  margin:20px 8px;
  padding: 5px;
  border: none;
  border-radius: 7px;
  font-size: 13px;
  font-weight: bold;
  background-color: transparent;
   &:hover{
    text-decoration: underline;
  }
}

.plus{
  color: red;
  margin-left: 20px;
  font-size: 22px;
}

.fa-hand-grab-o{
  position: absolute;
  top:0;
  right: 0;
  font-size: 22px;
  margin: 9px;
}

.waypoint_label{
  font-weight: 100;
  margin-right: 30px;
  font-family: gotham-light, 'Montserrat';
  margin-left: 20px;
}

.form_set_waypoint_address{
  // margin-top: 50px;
  // margin-bottom: 20px;
}
.steps_container{
  position: relative;
}

.back_next_container{
  width: 100px;
  display: flex;
  margin: 0 auto;

}

.create_form_step_three > p {
  font-family: gotham-light;
}

.js_errors_list, #error_explanation{
  font-family: gotham-light;
}

.walk_submit{
  margin: 30px auto;
  width: 200px;
  border: solid #F1D01B;
  border-radius: 10px;
  padding: 5px;
  background-color: #F1D01B;
}
