// Place all the styles related to the Waypoints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nested-fields{
  border: dotted 2px gray;
  width: 100%;
  position: relative;
  margin: 20px 0;
}

.plus{
  color: red;
  margin-left: 20px;
  font-size: 22px;
}

.fa-hand-grab-o{
  position: absolute;
  top:0;
  right: 0;
  font-size: 18px;
  margin: 9px;
}

.add_waypoint{
  font-size: 13px;
}

.form_set{
  margin-top: 30px;
  margin-bottom: 20px;
}

.waypoint_label{
  font-weight: 100;
  margin-right: 30px;
  font-family: Gotham-light;
}

.desc_field_create_walk{
  height:100px;
  width: 70%;

}

.desc_field_waypoint{
  margin: 8px 20px;
}

.waypoint_desc{
  font-family: gotham-light;
}

.cancel_waypoint,.plot_btn{
    color: tomato;
    font-size: 10px;
    margin: 8px;
    font-weight: bold;
}

.plot_btn{
  border: none;
  background-color: transparent;
}

.form_create_address{
  margin-left: 7%;
}

.form_create_name{
    margin-left: 5.5%;
}

.form_create_desc{
  margin-left: 1%;
}

.form_create_picture{
  margin-left: 6%;
}

.form_field_create_walk_address{
 width: 50%;
 height: 30px;
 margin-left: 3%;
}

.description{
  margin:0;
  width: 50%;
  height:100px;
}
