<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" ></script>


  <h1 class="create_walk_title edit_title">
    We all make mistakes ... </br>
    Edit your walk.
  </h1>

<div class="edit_main">
  <div class="form-list">
    <%= render partial: 'form'  %>
  </div>

<div id="map_walk-form" class="map" data-latitude='0' data-longitude="0" ></div>
</div>
