<h1>Fab Walks</h1>

<%= link_to "Create a walk", new_walk_path %>

<div class="walks-list">
  <% @walks.each do |walk| %>
    walk name: <%= walk.name %>
    walk city: <%= walk.city %>
  <% end %>
</div>
