<div class="page-wrapper">

<div class="create_walk_contain_left">
  <h1 class="create_walk_title">
    <span class="create_walk_title_split">Have an awesome path</span>
    <span class="create_walk_title_split">you want to share?<span>
    <span class="create_walk_title_split">Create a route!</span>
  </h1>
</div>

<div class="create_walk_contain_right">
<div id="map_walk-new" class="map" data-latitude='0' data-longitude="0" ></div>
</div>


<div class='form-list'>
<div class="errors">
  <% if @walk.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @walk.errors.each do |key, value| %>
          <li><%= value %></li>
        <% end %>
      </ul>
      <% end %>
    </div>

  <% if (@waypoint != nil) && (@waypoint.errors.any?) %>
    <ul>
      <% @waypoint.errors.each do |key, value| %>
        <li><%= key %><%= value %></li>
      <% end %>
    </ul>
  <% end %>
    </div>



<%= render partial: 'form'  %>






    </div>
  </div>
<!-- end of page wrapper-->
