/*  CSS PERTAINING TO ALL PAGES WILL GO HERE */

html, body {
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: crosshair;
  font-family:  AbrilFatface-Regular;
  height:100%;
  font-weight: 300;
 }

@font-face {
font-family: AbrilFatface-Regular  ;
src: url("fonts/AbrilFatface-Regular.otf");
}

@font-face {
   font-family: freefonts;
  src: url(freefont.oft) format("truetype"); 
 }

img {
  max-width: 100%;
  height: auto; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  color: black;
}
.page-wrapper {
  position: relative;
  max-width: 95%;
  margin: 0 auto; }

.hidden {
  position: absolute;
  left: -10000px; }

.nav-menu {
  background-color:#F1D01B;
}
  .social-media{
    display: flex;
    flex-direction: column;
    right:0;
    position: fixed;
  }

  #footer{
  text-align: center;
  //  bottom:0;
  height:10%;
   width: 100%;
  //  position: absolute;
   background-color: blue;
  }


// .login_modal{
//   height:200px;
//   width:100px;
//   border: solid red;
//   display: none;
// }
