/*  CSS PERTAINING TO ALL PAGES WILL GO HERE */

$grey: #565a5c;

html, body {
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // cursor: crosshair;
  font-family:  AbrilFatface-Regular;
  height:100%;
  font-weight: 300;
  color: $grey;
  a{
    text-decoration: none;
  }
 }

 li{
   list-style: none;
 }

 .page-wrapper {
   position: relative;
   max-width: 85%;
   margin: 0 auto; }

@font-face {
font-family: AbrilFatface-Regular  ;
src: url("fonts/AbrilFatface-Regular.otf");
}

@font-face {
   font-family: freefonts;
  src: url(freefont.oft) format("truetype");
 }

 @font-face {
    font-family: 'Montserrat';
    font-weight: 700;
  }

  @font-face {
      font-family: 'Montserrat';
      font-weight: 400;
    }

img {
  max-width: 100%;
  height: auto; }

*, *:before, *:after {
  box-sizing: inherit; }

.logo{
    font-family: freefonts;
    font-size: 30px;
  }

.nav-menu-master {
  display:flex;
  justify-content: space-between;
  background-color:transparent;
  padding: 20px 0;
  font-family: 'Montserrat';
    ul{
      display: inline-block;
      display: flex;
    }

    a{
      color: white;
      text-decoration: none;
      margin: 20px;
      letter-spacing: 1px;
      &:hover {
        border-bottom: solid white ;
        padding-bottom: 10px;
      }
    }
    span.login-button, #register-button {
      color: white;
      text-decoration: none;
      margin: 20px;
      letter-spacing: 1px;
      &:hover {
        border-bottom: solid white ;
        padding-bottom: 10px;
      }
    }
  }

  .nav-menu-home{
    @extend .nav-menu-master ;
  }

  .nav-menu-not-home {
    @extend .nav-menu-master;
      a{
        color:black;
      }
    }


.hidden {
  position: absolute;
  left: -10000px; }


  .social-media{
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    right:0;
    position: fixed;
    z-index: 2;
    a{
      color: white;
    }
  }

  .social-media-not-home{
    a{
      color: #f75c4f;
    }
  }

  #footer{
  text-align: center;
  //  bottom:0;
  height:10%;
   width: 100%;
  //  position: absolute;
   background-color: blue;
  }
