<%= render 'nav_menu_not_home' %>

<div class="page-wrapper">

  <div class="social-media social-login">
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>

  <div class="signup_container">
      <h1 class="login_desc"> Hello again! <br> Please sign in. </h1>

  <div class=" loginform signup_form">
    <%= render 'form' %>
  </div>

  <!-- <%= link_to "Home", root_url %> -->
</div>

<!-- <%= link_to 'Back', root_path %> -->
</div>
